<div class="media-object small-image">
  <div class="media-prefix">
    <%= render 'votes/vote', resource: comment %>
  </div>

  <div class="media-body">
    <hgroup>
      <h1><%= link_to comment.user.name, user_path(comment.user) %></h1>
      <%= link_to 'Reply', comment_path(comment), class: 'i' %>
    </hgroup>
    <div class="content">
      <%= comment.content_html %>
    </div>
  </div>

  <div class="media-image">
    <%= render 'shared/avatar', user: comment.user %>
  </div>
</div>

<%= render 'comments/comments', comments: comment.comments.ranked %>
