<div class="media-container">
  <div class="media-object">
    <div class="media-prefix">
      <%= render 'votes/vote', resource: @comment %>
    </div>

    <div class="media-body">
      <hgroup>
        <h1><%= link_to @comment.user.name, user_path(@comment.user) %></h1>
      </hgroup>

      <div class="content">
        <%= @comment.content_html %>
      </div>
    </div>

    <div class="media-image">
      <%= render 'shared/avatar', user: @comment.user %>
    </div>
  </div>
</div>

<%= render 'comments/form', post: @comment.post, parent: @comment %>

<div class="comments">
  <%= render 'comments/comments', comments: @comment.comments.ranked %>
</div>
