<h2>Settings</h2>

<%= form_for @user do |f| %>
  <%= f.label :send_digest do %>
    <%= f.check_box :send_digest %>
    Send me the yarns once a week to my email
  <% end %>

  <div class="form-footer">
    <%= f.submit 'Update', class: 'button' %>
  </div>
<% end %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
