<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-notice">Whoa there, something wasn't quite right. Have another crack at it.</div>
  <% end %>

  <%= f.text_field :name, autocomplete: 'off', placeholder: 'Name', class: :input %>

  <%= f.text_field :email, autocomplete: 'off', placeholder: 'Email', class: :input %>

  <div class="checkbox">
   <%= f.check_box :send_digest %> <%= f.label :send_digest, 'Send me a weekly digest', class: 'label inline' %>
  </div>

  <div class="media-object align-middle">
    <div class="media-body">
      Unhappy? <%= link_to "Cancel your account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
    <%= f.submit 'Update', class: 'button button-right' %>
  </div>
<% end %>

