<div class="media-container">
  <div class="media-object">
    <div class="media-body">
      <section>
        <h1><%= link_to @user.name, user_path(@user) %></h1>
        <% if @user == current_user %>
          <%= render 'users/settings' %>
        <% end %>
      </section>
    </div>

    <% unless @user == current_user %>
      <div class="media-image">
        <%= render 'shared/avatar', user: @user %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'notifications/notifications', notifications: @user.notifications if @user == current_user && @user.notifications.any? %>

<% if @user.posts.any? %>

  <div class="media-object media-header">
    <div class="media-body">
      <hgroup>
        <h1>Previous posts</h1>
      </hgroup>
    </div>
  </div>

  <%= render 'posts/posts', posts: @user.posts %>
<% end %>
