<div class="media-object">
  <div class="media-prefix">
    <%= render 'votes/vote', resource: post %>
  </div>

  <div class="media-body">
    <hgroup>
      <h1><%= link_to post.title, post_path(id: post.friendly_id) %></h1>
      <%= link_to post.display_url_with_brackets, post.url, class: 'i', target: '_blank' if post.url? %>
    </hgroup>
    <div class="content">
      <%= post.short_description_html %>
    </div>
  </div>

  <div class="media-image">
    <%= render 'shared/avatar', user: post.user %>
  </div>
</div>
