<div class="media-object post">
  <%= render 'votes/vote', resource: post %>

  <div class="media-body">
    <hgroup>
      <h1><%= link_to post.title, post_path(post) %></h1>
      <%= link_to post.display_url_with_brackets, post.url, class: 'display-url', target: '_blank' if post.url? %>
    </hgroup>
    <%= post.description %>
  </div>

  <div class="media-image">
    <%= render 'shared/avatar', user: post.user %>
  </div>
</div>
