<div class="media-container">
  <div class="media-object">
    <div class="media-body">
      <p>Try to keep posts relevant. Think about what the Wellington community would like to see or hear. For example posting a link to show off your work or an interesting tidbit of local news. Alternatively posting a personal story or asking the community a topical question.</p>
    </div>
  </div>
</div>

<%= form_for @post, html: { class: 'form' } do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-notice">Whoa there, that wasn't quite right. Have another crack at it.</div>
  <% end %>

  <%= f.text_field :title, placeholder: 'Post title', class: 'input' %>
  <%= f.url_field :url, placeholder: 'http://myawesomelink.co.nz', class: 'input' %>
  <span class="helper-text">Include a url and/or a comment</span>
  <%= f.text_area :description, placeholder: 'Enter your comment. Play nice with others.' %>
  <div class="media-object align-middle">
    <div class="media-body">
      <span>You can use markdown</span>
    </div>
    <%= f.submit 'Share', class: 'button button-right' %>
  </div>
<% end %>
