<div class="media-container">
  <div class="media-object">
    <div class="media-prefix">
      <%= render 'votes/vote', resource: @post %>
    </div>

    <div class="media-body">
      <hgroup>
        <h1><%= link_to @post.title, post_path(@post) %></h1>
        <%= link_to @post.display_url_with_brackets, @post.url, class: 'i', target: '_blank' if @post.url? %>
      </hgroup>

      <div class="content">
        <%= @post.description_html %>
      </div>
      <%= link_to 'Edit', edit_post_path(id: @post.friendly_id) if current_user && current_user == @post.user %>
    </div>

    <div class="media-image">
      <%= render 'shared/avatar', user: @post.user %>
    </div>
  </div>
</div>

<%= render 'comments/form', post: @post, parent: @post %>

<div class="comments">
  <%= render 'comments/comments', comments: @comments.root.ranked %>
</div>
